
.info {
	display: flex;
	flex-direction: column;
	font-family: Gulim;

}

.name {
	display: flex;
	flex-direction: column;
	font-size:60px;
}

.count {
display: flex;
flex-direction: column;
font-size:30px;
}

.entries {
  display:flex;
  justify-content: center;
  font-size: 12px;
  padding-top: 1em;
  padding-bottom: 2.5em;

}
