.registerbutton {
background-color: rgb(75, 134, 180);
border: none;
border-radius: 10px
}

.registerbutton:active, .registerbutton:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
