
.Background {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.user {
  margin-top: 100px;
  height:140vh;
}

.backgroundsquare {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 35vw;
  height: 35vw;
  z-index: -1;
  transition: background 1.5s ease;
}

.description {
  position: absolute;
  left: 5%;
  top: 630px;
  font-size:55px;
    width: 30vh;
    margin-bottom: 40px;
}

@media (max-width: 1150px) {
    .description {
      top: 620px;
     font-size:53px;
     width: 30vh;
     }
    }

@media (max-width: 885px) {
    .description {
     top: 630px;
     font-size:48px;
     width: 30vh;
     }
    }

@media (max-width: 602px) {
    .description {
     top: 550px;
     font-size:43px;
     width: 10vh;
     }
    }

@media (max-height: 710px) {
    .description {
     top: 630px;
     font-size:51px;
     width: 10vh;
     }
    }

  @media (max-height: 626px) {
    .description {
     top: 630px;
     font-size:43px;
     width: 10vh;
     }
    }

  @media (max-height: 540px) {
    .description {
     top: 560px;
     font-size:35px;
     width: 10vh;
     }
    }

    @media (max-height: 410px) {
    .description {
     top: 500px;
     font-size:26px;
     width: 10vh;
     }
    }


.option-row {
  display: flex;
  max-width: 90%;
  height: 70vh;
  position: relative;
  background: rgb(211, 211, 211, 0.2);
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  
}

.option {
  background-image: lightgrey;
  background-blend-mode: soft-light,screen;
  background: white;
  border-radius: 0.25em;
  font-size: 4rem;
  position: relative;
  margin: 0.1em;
  margin-left: 0px;
  height: auto;

  
  display: flex;
  flex-direction: column;
  text-align: center;




  
  cursor: pointer;
  
  opacity: 0.5;
  -webkit-transition-duration: 0.8s, 0.6s;
  transition-duration: 0.8s, 0.6s;
  -webkit-transition-property: flex-grow, opacity;
  transition-property: flex-grow, opacity;
  -webkit-transition-timing-function: cubic-bezier(.98,0,.22,.98), ease-in-out;
  transition-timing-function: cubic-bezier(.98,0,.22,.98), ease-in-out;
  

  &:after {
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transform: scaleX(0.2);
    transition-property: transform, opacity;
    -webkit-transform: scaleX(0.2);
    -webkit-transition-property: transform, opacity;
  }
}
    
.option-input {
  visibility: hidden;
  
}

.option__label {
  transform-origin: top bottom;
  transform: scale(0.7);
  transition: inherit;
  transition-property: transform, opacity;
   -webkit-transform-origin: top bottom;
    -webkit-transform: scale(0.7);
     -webkit-transition: inherit;
      -webkit- transition-property: transform, opacity;

}

  

.option-input:checked + .option {
  flex-grow: 4;
  opacity: 1;
}





@media screen and (max-width: 800px) {
    
    .option-row {
      padding: 0px 5px 10px 10px;
      transition: none !important;
      display:flex;
      height: 900px;
      flex-direction: column;
     }
    .option {
       transition: none !important;
       display: flex;
      flex-wrap: wrap;
      height: 10em;

     }
     .option__label {
      height: auto;
      transition: none !important;
      display: block;
  }

  .option-input:checked + .option {
  flex-grow: 0;
  opacity: 1;
  } 
}

@media screen and (max-height: 400px) {
    
    .option-row {
      transition: none !important;
      display:flex;
      height: 900px;
      flex-direction: column;
     }
    .option {
       transition: none !important;
       display: flex;
      flex-wrap: wrap;
      height: 10em;

     }
     .option__label {
      height: auto;
      transition: none !important;
      display: block;
  }

  .option-input:checked + .option {
  flex-grow: 0;
  opacity: 1;
  } 
}

#btn {
  background: rgb(211, 211, 211, 0.5);
  border:solid 1px;
  margin-top: 60px;
  border-radius: 5px;
}








