
img {
	max-width: 100vh;
	width: 100%;
    max-height: 100%;
    -webkit-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    transition: width 0.5s ease;
}

@media (max-width: 800px) {
    img {
     width:50%;
     max-height: 100vh;
     }
    }
  @media (max-width: 450px) {
    img {
     width:50%;
     max-height: 40vh;
     }
    }

.inner {
	position: relative;
	display:flex;
	border: 0 solid #FFFFFF;
	max-height: 500px;
	max-width:100%;
}


.side {
	position: absolute;
	bottom:0px;
	left:0px;
  	align-self: flex-end;
	text-orientation: upright;
    writing-mode: vertical-lr;
	font-size: 20px;
	letter-spacing: 20px;
	color: #000000;
}

@media (max-width: 410px) {
    .side {
     font-size:17px;
     letter-spacing: 10px;
     }
    }



.horizontal {
	position: absolute;
  	align-self: flex-end;
	font-size: 12px;
	letter-spacing: 4px;
	left:30px;
	bottom: -15px;
}

.squarex1 {
	position: absolute;
	height: 170px;
	width: 170px;
	border: solid 1px;
	border-color: rgb(75, 134, 180);
	top: 170px;
	left: 240px;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.squarex2 {
	position: absolute;
	height: 130px;
	width: 130px;
	top: 100px;
	right: 100px;
	border: solid 1px;
	border-color: rgb(75, 134, 180);
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}


@media (max-width: 800px) {
    .squarex1 {
     height:120px;
     width: 120px;
     top: 190px;
     left:150px;
     }
    }

@media (max-width: 700px) {
    .squarex1 {
     height:120px;
     width: 120px;
     top: 120px;
     left:100px;
     }
    }

@media (max-width: 410px) {
    .squarex1 {
     height:100px;
     width: 100px;
     top: 49px;
     left:70px;
     }
    }

@media (max-width: 870px) {
    .squarex2 {
    height: 130px;
	width: 130px;
	top: 100px;
	right: 50px;
     }
    }

    @media (max-width: 800px) {
    .squarex2 {
    height: 140px;
	width: 140px;
	top: 100px;
	right: 120px;
     }
    }
@media (max-width: 580px) {
    .squarex2 {
    height: 140px;
	width: 140px;
	top: 80px;
	right: 60px;
     }
    }

   @media (max-width: 410px) {
    .squarex2 {
     height:110px;
     width: 110px;
     top: 21px;
     right: 47px;
     }
    }





